<%= form_with(model: @feed, local: true, url: choose_new_or_edit) do |form| %>

<% if @feed.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@feed.errors.count, "error") %> prohibited this feed from being saved:</h2>

  <ul>
    <% @feed.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class='isg_feed_container'>
  
  <div>  
<!--    <%= form.label :content, value: t('feeds.label_content') %> -->
    <%= form.label :content %>    
    <%= form.text_area(:content, size:"64x4") %>
  </div>
  <div class='isg_feed_image_area'>
<!--    <%= form.label :image, value: t('feeds.label_image') %> -->
    <%= form.label :image %>        
    <% if @feed.image.present? %>
    <%= image_tag(@feed.image.url, class:'isg_feed_image') %>
    <% end %>
  </div>
  <%= form.file_field :image %>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <%= form.hidden_field :image_cache %>
  
<!--  <%= form.submit(id: 'isg_feed_new_submit_button', value: 'Post') %> -->
  <%= form.submit t('feeds.label_post') %>
</div>      
<% end %>
