<!-- <p id="notice"><%= notice %></p> -->

<h1><%= t('feeds.label_title_index') %></h1>

<div class="container">
  <div class="row">

    <% @feeds.each do |feed| %>
    <div class="col-md-4 col-12 isg_feed_image_with_wheel">

      <div class="isg_feed_comment_block">      
	<%= image_tag(feed.image.url, class: 'image_fluid') %>
	<div>
	  <table><tr>
              <td><%= content_tag(:span, '', class:'ui-icon ui-icon-heart') + t('feeds.label_favorites', num: feed.favorites.count) %></td>
              <td><%= content_tag(:span, '', class:'ui-icon ui-icon-comment') + t('feeds.label_comments', num: feed.comments.count) %></td>	      
	      <td><%= link_to content_tag(:span, '', class:'ui-icon ui-icon-circle-arrow-e')+t('feeds.label_refer'), feed %></td>

	      <% if current_user.id == feed.user_id %>
	        <td><%= link_to content_tag(:span, '', class:'ui-icon ui-icon-circle-arrow-e')+t('feeds.label_edit'), edit_feed_path(feed) %></td>
	        <td><%= link_to content_tag(:span, '', class:'ui-icon ui-icon-trash')+t('feeds.label_delete'), feed, method: :delete, data: { confirm: t('feeds.msg_confirm_delete') } %></td>
	      <% end %>

	  </tr></table>
	</div>
      </div>
    </div>
    <% end %>
  </div>
</div>
