<!-- <p id="notice"><%= notice %></p> -->

<div class="isg_feed_show_container">

  <div class="isg_feed_show_image_area">
    <%= image_tag(@feed.image.url, class:"isg_feed_image") %>
    <p>[posted by <a href="<%= user_path(@feed.user_id) %>"><strong><%= @feed.user.name %></strong></a> at <%= @feed.created_at.strftime("%Y-%m-%d(%a) %H:%M:%S %Z") %>]</p>
    <% if (@favorite.present? && (@favorite.user_id == current_user.id)) %>
      <%= content_tag(:span, '', class:"glyphicon glyphicon-heart") %>

      <%= form_with(model: @favorite, url: favorite_path, method: :delete, local: true) do |form| %>
        <%= form.hidden_field :user_id, value: current_user.id%>
        <%= form.hidden_field :feed_id, value: @feed.id %>                
        <%= form.submit t('feeds.label_favorites_off') %>
      <% end %>	

      <% else %>
      <%= content_tag(:span, '', class:"glyphicon glyphicon-heart-empty") %>

      <%= form_with(model: @favorite, url: favorites_path, local:true) do |form| %>
        <%= form.hidden_field :user_id, value: current_user.id%>
        <%= form.hidden_field :feed_id, value: @feed.id %>                
        <%= form.submit t('feeds.label_favorites_on') %>
      <% end %>		

    <% end %>

    <% if (@feed.user_id == current_user.id) %>
      <%= link_to t('feeds.label_edit'), edit_feed_path(@feed) %> |
    <% end %>
    <%= link_to t('feeds.label_back'), feeds_path %>
  </div>

  <div class="isg_feed_show_comment_area">
    <% @comments.each do |comment| %>
    <div class="isg_feed_show_comment_block">

      <% if comment.user_id == current_user.id %>
      <span class="isg_feed_show_menu">...</span>
      <ul class="isg_feed_show_menu_list">
        <li><%= link_to(content_tag(:span, '', class:"ui-icon ui-icon-circle-arrow-e")+t('feeds.label_edit'), edit_comment_path(@comment.id)) %></li>
        <li><%= link_to(content_tag(:span, '', class:"ui-icon ui-icon-trash")+t('feeds.label_delete'), comment_path(@comment.id), method: :delete) %></li>
      </ul>
      <% end %>
      
      <div class="isg_feed_show_comment_text"><%= comment.content %></div>
    </div>
    <% end %>
    
    <div class="isg_feed_show_comment_menu">
      <div class="isg_feed_show_favorites_area">
        <%= content_tag(:span, '', class:"glyphicon glyphicon-heart")+t('feeds.label_favorites', num: @favorites.count) %>
      </div>
      <%= form_with(model: @comment, url: comments_path, local: true, method: :post) do |form| %>
        <%= form.text_area(:content, size:"64x1", placeholder: t('feeds.label_draft_comment')) %>
        <%= form.hidden_field(:user_id, value: current_user.id) %>
        <%= form.hidden_field(:feed_id, value: @feed.id) %>
	<%= form.submit(class: "isg_feed_show_comment_button", value: t('feeds.label_post_comment')) %>
      <% end %>
    </div>

  </div>
</div>


