<p id="notice"><%= notice %></p>

<div class="isg_feed_show_container">

  <div class="isg_feed_show_image_area">
    <%= image_tag(@feed.image.url, class:"isg_feed_image") %>
    <p>[posted by <a href="<%= user_path(@feed.user_id) %>"><strong><%= @feed.user.name %></strong></a> at <%= @feed.created_at.strftime("%Y-%m-%d(%a) %H:%M:%S %Z") %>]</p>
    <% if (@favorite.present? && (@favorite.user_id == current_user.id)) %>
      <%= content_tag(:span, '', class:"glyphicon glyphicon-heart") %>

      <%= form_with(model: @favorite, url: favorite_path, method: :delete, local: true) do |form| %>
        <%= form.hidden_field :user_id, value: current_user.id%>
        <%= form.hidden_field :feed_id, value: @feed.id %>                
        <%= form.submit "お気に入り解除" %>
      <% end %>	

      <% else %>
      <%= content_tag(:span, '', class:"glyphicon glyphicon-heart-empty") %>

      <%= form_with(model: @favorite, url: favorites_path, local:true) do |form| %>
        <%= form.hidden_field :user_id, value: current_user.id%>
        <%= form.hidden_field :feed_id, value: @feed.id %>                
        <%= form.submit "お気に入りする" %>
      <% end %>		

    <% end %>

    <% if (@feed.user_id == current_user.id) %>
      <%= link_to 'Edit', edit_feed_path(@feed) %> |
    <% end %>
    <%= link_to 'Back', feeds_path %>
  </div>

  <div class="isg_feed_show_comment_area">
    <% @comments.each do |comment| %>
    <div class="isg_feed_show_comment_block">
      <span class="isg_feed_show_menu">...</span>
      <ul class="isg_feed_show_menu_list">
        <li><a href="#" ><span class="ui-icon ui-icon-circle-arrow-e"></span>編集</a></li>
        <li><a href="#" ><span class="ui-icon ui-icon-trash"></span>削除</a></li>
      </ul>
      <div class="isg_feed_show_comment_text"><%= comment.content %></div>
    </div>
    <% end %>
    
    <div class="isg_feed_show_comment_menu">
      <div class="isg_feed_show_favorites_area">
        <%= content_tag(:span, '', class:"glyphicon glyphicon-heart")+"#{@favorites.count}件" %>
      </div>
      <%= form_with(model: @comment, url: comments_path, local: true, method: :post) do |form| %>
        <%= form.text_area(:content, size:"64x1", placeholder:"コメントを追加") %>
        <%= form.hidden_field(:user_id, value: current_user.id) %>
        <%= form.hidden_field(:feed_id, value: @feed.id) %>
	<%= form.submit(class: "isg_feed_show_comment_button", value: "投稿する") %>
      <% end %>
    </div>

  </div>
</div>


