<h1><%= @user.name %>のページ</h1>
<p>メールアドレス: <%= @user.email %></p>

<p id="notice"><%= notice %></p>
<p>
  <strong>Image:</strong>
  <%= @user.image.url %>
</p>
<%= link_to 'Edit', edit_user_path(@user) %>
<%= link_to 'Back', users_path %>
